<div class="project-list-container fade-in-up">
  <header class="project-header">
    <h2>Projects</h2>
    <button class="create-project-btn" (click)="openModal()">+ Add Project</button>
  </header>

  @if (projects$ | async; as projects) {
    @if (projects.length > 0) {
      <div class="project-grid">
     @for (project of projects; track project.id) {
  @if (project) {
    <div class="project-card fade-in">
      <div class="project-card-top">
        <h3>{{ project.name }}</h3>
      </div>

      <p class="desc">{{ project.description || 'No description provided' }}</p>

      @if (project.taskIds && project.taskIds.length > 0) {
        <div class="task-list">
          <p><strong>Assigned Tasks:</strong></p>
          <ul>
            @for (taskId of project.taskIds; track taskId) {
              <li>{{ getTaskName(taskId)  }}</li>
            }
          </ul>
        </div>
      }

      <div class="btn-group">
        <button class="edit-btn" (click)="editProject(project)">Edit</button>
        <button class="delete-btn" (click)="openDeletePopup(project.id)">Delete</button>
      </div>
    </div>
  }
}
      </div>
    } @else {
      <div class="empty-state fade-in">
        <p>No projects available yet. Start by creating one!</p>
      </div>
    }
  }

  @if (isModalOpen) {
    <div class="modal-overlay" (click)="closeModal()"></div>
    <div class="modal fade-in-up">
      <form [formGroup]="projectForm" (ngSubmit)="addOrUpdateProject()" class="project-form">
        <h3>{{ isEditMode ? 'Edit Project' : 'Create Project' }}</h3>

        <label>Name</label>
        <input formControlName="name" placeholder="Enter project name" />

        <label>Description</label>
        <textarea formControlName="description" placeholder="Enter description"></textarea>

        <label>Assign Tasks</label>
        <div class="task-checkboxes">
          @if (tasks$ | async; as tasks) {
            @for (task of tasks; track task.id) {
              <label>
                <input
                  type="checkbox"
                  [value]="task.id"
                  (change)="toggleTaskSelection(task.id, $event)"
                  [checked]="projectForm.value?.taskIds?.includes(task.id)"
                />
                {{ task.title }}
              </label>
            }
          }
        </div>

        <div class="btn-group">
          <button type="submit" [disabled]="projectForm.invalid">
            {{ isEditMode ? 'Update' : 'Create' }}
          </button>
          <button type="button" (click)="closeModal()">Cancel</button>
        </div>
      </form>
    </div>
  }
  <app-confirm-popup
    [isOpen]="isPopupOpen"
    message="Are you sure you want to delete this project?"
    confirmText="Yes"
    cancelText="Cancel"
    (confirm)="handleConfirmDelete()"
    (cancel)="handleCancelDelete()"
  ></app-confirm-popup>
</div>
